* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fafafa;
    color: #333;
    line-height: 1.6;
    padding: 2rem;
}

nav{
    padding: 2rem;
}

header{
    padding: 2rem;
    display: block;
    text-align: center;
    
}
.logo{
    color: #000000;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: "Lucida Handwriting";
    font-size: 26px;
    font-weight: bolder;
    line-height: 1.45;
    text-decoration: underline;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    padding:2rem;
}
.nav-links li{
    margin-right: 0.5rem;
}

.nav-links a {
    margin: 5px;
    color: black;
    font-family:cursive;
    font-weight: bolder;
    font-size: larger;
    position: relative;
    text-decoration: none;
    padding-bottom: 5px; 
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 2px; 
    background-color: currentColor; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}
.nav-links a:hover::after {
    transform: scaleX(1);
}